h1 {
  font-family: var(--font-macondo);
  font-size: 40px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

.modal {
  line-height: 1.8;

  &__name {
    font-size: 20px;
  }

  &__actor {
    font-size: 18px;
    font-style: italic;
  }
}

.footer__copyright {
  font-size: 16px;
  line-height: 1.7;
}